---
import { getCollection } from "astro:content";

import { ITEMS_PER_PAGE } from "@/consts";
import RootLayout from "@/layouts/RootLayout.astro";
import Link from "@/components/Link.astro";
import ListPostCover from "@/components/ListPostCover.astro";
import Tag from "@/components/Tag.astro";
import { excludeDrafts, sortBlogPosts } from "@/functions";
import { useTranslations } from "@/i18n";

const t = useTranslations();

const posts = await getCollection("blog", excludeDrafts).then(sortBlogPosts);
---

<RootLayout
  title={t("siteMetadata.title")}
  description={t("siteMetadata.description")}
>

  <div class="flex flex-col gap-4 justify-normal md:justify-center  min-h-[65vh] md:mb-12">
      <h1
        class="text-3xl mb-4 md:mb-8 font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14"
      >I turn chaos into scalable systems with code.</h1>
      <p>Hey, I'm Nurul, a software engineer from Indonesia, known online as numulaa. I build fast, accessible web apps with React, TypeScript, and Tailwind CSS, focusing on intuitive user experiences and scalable systems with Node.js, Express, and Firebase.</p>
      <p>I specialize in turning inefficiencies into intuitive digital solutions that boost business performance.</p>
    <div>
              <Link href='https://github.com/numulaa'>
                  <span class="underline hover:text-primary">GitHub</span>
              </Link>
              <Link href="https://twitter.com/numulaa_">
                  <span class="underline hover:text-primary">X</span>
              </Link>
              <Link href="mailto:numulaa@gmail.com">
                  <span class="underline hover:text-primary">Email</span>
              </Link>
              <Link href="https://www.linkedin.com/in/nurul-mukhlisa/">
                  <span class="underline hover:text-primary">LinkedIn</span>
              </Link>
  </div>
</div>
<div class="divide-y divide-gray-200 dark:divide-gray-700">
    
    <div class="space-y-2 pb-8 pt-6 md:space-y-5">
      <h1
        class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14"
      >
        {t("pages.home.latestPosts")}
      </h1>
      <p class="text-lg leading-7 text-gray-500 dark:text-gray-400">
        {t("siteMetadata.description")}
      </p>
    </div>
    <ul class="divide-y divide-gray-200 dark:divide-gray-700">
      {!posts.length && t("pages.home.noPosts")}
      {
        posts.slice(0, 3).map((post) => {
          const { title, summary, tags } = post.data;
          return (
            <li class="py-12">
              <article>
                <div class="space-y-2 xl:grid xl:grid-cols-4 space-x-4 xl:space-y-0 xl:items-stretch">
                  <ListPostCover {post} class="space-y-5 xl:col-span-1" />
                  <div class="space-y-5 xl:col-span-3">
                    <div class="space-y-6">
                      <div>
                        <h2 class="text-2xl font-bold leading-8 tracking-tight">
                          <Link
                            href={`/blog/${post.slug}`}
                            class="text-gray-900 dark:text-gray-100"
                          >
                            {title}
                          </Link>
                        </h2>
                        <div class="flex flex-wrap">
                          {tags.map(({ slug }) => (
                            <Tag slug={slug} />
                          ))}
                        </div>
                      </div>
                      <div class="prose max-w-none text-gray-500 dark:text-gray-400">
                        {summary}
                      </div>
                    </div>
                    <div class="text-base font-medium leading-6">
                      <Link
                        href={`/blog/${post.slug}`}
                        class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                        aria-label={t('pages.home.readMoreAbout', {title})}
                      >
                        {t('pages.home.readMore')} &rarr;
                      </Link>
                    </div>
                  </div>
                </div>
              </article>
            </li>
          );
        })
      }
    </ul>
  </div>
  {
    posts.length > ITEMS_PER_PAGE && (
      <div class="flex justify-end text-base font-medium leading-6">
        <Link
          href="/blog"
          class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
          aria-label={t('pages.home.viewAllPosts')}
        >
        {t('pages.home.viewAllPosts')} &rarr;
        </Link>
      </div>
    )
  }
</RootLayout>
